@page "/chat"
@using Another_Mirai_Native.BlazorUI.Components.Pages.Components
@using Another_Mirai_Native.Config
@using Another_Mirai_Native.DB
@using Another_Mirai_Native.Model.Enums
@using Another_Mirai_Native.Native
@using System.Diagnostics
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@inject Shared Shared
@inject IDialogService DialogService
@implements IDisposable

<div style="display: flex; height: calc(100vh - var(--mud-appbar-height)); position: relative;">
    @if(ShowHistoryDrawer)
    {
        <MudDrawer Width="80%" Variant="DrawerVariant.Temporary" OverlayAutoClose @bind-Open="HistoryDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <MudList T="ChatHistoryItem" Color="Color.Primary" SelectedValue="SelectedHistoryItem" SelectedValueChanged="SelectedHistoryItemChanged" @ref="ChatHistoryList" SelectionMode="SelectionMode.SingleSelection" Style="max-height: calc(93vh - var(--mud-appbar-height)); overflow: auto;">
                @foreach (var item in HistoryItems)
                {
                    <MudListItem @key="item" T="ChatHistoryItem" Value="item" Style="cursor: default">
                        <HistoryItem Item="@item" />
                    </MudListItem>
                }
            </MudList>
        </MudDrawer>
    }
    else {
        <div id="ChatHistoryList">
            <MudList T="ChatHistoryItem" Color="Color.Primary" SelectedValue="SelectedHistoryItem" SelectedValueChanged="SelectedHistoryItemChanged" @ref="ChatHistoryList" SelectionMode="SelectionMode.SingleSelection" Style="max-height: calc(93vh - var(--mud-appbar-height)); overflow: auto;">
                @foreach (var item in HistoryItems)
                {
                    <MudListItem @key="item" T="ChatHistoryItem" Value="item" Style="cursor: default">
                        <HistoryItem Item="@item" />
                    </MudListItem>
                }
            </MudList>
            <div id="Shinker" @onclick="ShinkerClicked">
                &lt;
            </div>
        </div>
    }
    <div id="ChatMainContent">
        @if (SelectedHistoryItem != null)
        {
            <div class="@(ShowHistoryDrawer ? "container-dense" : "")" style="height: calc(100vh - var(--mud-appbar-height)); display: flex; flex-direction: column;">
                <div class="@(ShowHistoryDrawer ? "dense" : "")" style="min-height: 70px; background-color: var(--mud-palette-background-gray); display: flex; align-items: center;">
                    @if (ShowHistoryDrawer)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Menu" Style="margin-left: 10px;" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => HistoryDrawerOpen = !HistoryDrawerOpen)" />
                    }
                    <MudText Typo="Typo.h5" Style="margin-left: 10px;">@SelectedHistoryItem.Name</MudText>
                </div>
                <ChatMessageDisplay @ref="ChatMessageDisplay"
                ChatItems="Messages"
                    OnLoadAvaliable="LoadMessageHistoryNextPage"
                    OnAt="OnChatItemAt"
                    OnCopy="OnChatItemCopy"
                    OnRepeat="OnChatItemRepeat"
                    OnReply="OnChatItemReply"
                    OnResend="OnChatItemResend"
                    OnAtElementClicked="OnAtElementClicked"
                    OnReplyJumpReuquest="OnReplyJumpReuquest"
                    OnCopyNick="OnCopyNick"
                    OnCopyQQ="OnCopyQQ"
                    OnRevoke="OnRevoke"
                    OnImagePreview="OnImagePreview"></ChatMessageDisplay>
                <ChatCommandPanel OnMessageSend="OnMessageSend" @ref="MessageCommandPanel" Dense="ShowHistoryDrawer"></ChatCommandPanel>
            </div>
            <MudOverlay DarkBackground="true" Absolute AutoClose="false" @bind-Visible="MessageUnavailable">
                <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Indeterminate />
            </MudOverlay>
        }
        else{
            <MudOverlay DarkBackground="true" AutoClose="false" Visible Absolute>
                <MudButton Variant="Variant.Text" OnClick="@(() => HistoryDrawerOpen = true)">从历史记录里选择一项</MudButton>
            </MudOverlay>
        }
    </div>
</div>
<MudOverlay DarkBackground="true" AutoClose="false" @bind-Visible="Unavailable">
    <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Indeterminate />
</MudOverlay>

<style>
    .dense {
        min-height: 48px !important;
    }

    .container-dense{
        height: calc(100vh - 48px) !important;
        height: calc(100dvh - 48px) !important;
        position: fixed;
        top: 48px;
    }

    .short {
        width: 65px !important;
    }

    #ChatHistoryList {
        max-width: 400px;
        width: 30%;
        height: 100%;
        color: var(--mud-palette-text-primary);
        background-color: var(--mud-palette-background-gray);
        --mud-drawer-content-height: 0;
        border-radius: var(--mud-default-borderradius);
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        position: relative;
    }

    #ChatMainContent {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #Shinker {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        cursor: pointer;
        height: 100px;
        background-color: var(--mud-palette-background-gray);
        line-height: 100px;
        width: 10px;
        text-align: center;
        border-radius: 0 25px 25px 0;
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
        overflow: hidden;
        z-index: 9
    }
</style>

<script>
    function toggleContainerLength() {
        const shinker = document.getElementById('Shinker')
        const list = document.getElementById('ChatHistoryList')
        const long = shinker.innerText === '<';
        if (long) {
            shinker.innerText = '>'
            list.classList.add('short')
        } else {
            shinker.innerText = '<'
            list.classList.remove('short')
        }
    }
</script>

@code {
    // TODO: 代码整理
    private ChatHistoryItem? SelectedHistoryItem { get; set; } = null;
    private List<ChatHistoryItem> HistoryItems { get; set; } = [];
    private List<ChatItemModel> Messages { get; set; } = [];
    private bool Unavailable { get; set; } = true;
    private bool MessageUnavailable { get; set; } = true;
    private ChatMessageDisplay? ChatMessageDisplay { get; set; } = null;
    private long CurrentSelectedId => SelectedHistoryItem?.Id ?? 0;
    private int CurrentPageIndex { get; set; }
    private int PageSize { get; set; } = 15;
    private MudList<ChatHistoryItem>? ChatHistoryList { get; set; } = null;
    private ChatCommandPanel MessageCommandPanel { get; set; }
    private bool ShowHistoryDrawer { get; set; }
    private bool HistoryDrawerOpen { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            await LoadChatHistory();
            Unavailable = false;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        PluginManagerProxy.OnGroupBan += PluginManagerProxy_OnGroupBan;
        PluginManagerProxy.OnGroupAdded += PluginManagerProxy_OnGroupAdded;
        PluginManagerProxy.OnGroupMsg += PluginManagerProxy_OnGroupMsg;
        PluginManagerProxy.OnGroupLeft += PluginManagerProxy_OnGroupLeft;
        PluginManagerProxy.OnFriendAdded += PluginManagerProxy_OnFriendAdded;
        PluginManagerProxy.OnPrivateMsg += PluginManagerProxy_OnPrivateMsg;
        PluginManagerProxy.OnGroupMsgRecall += PluginManagerProxy_OnGroupMsgRecall;
        PluginManagerProxy.OnPrivateMsgRecall += PluginManagerProxy_OnPrivateMsgRecall;

        CQPImplementation.OnPrivateMessageSend += CQPImplementation_OnPrivateMessageSend;
        CQPImplementation.OnGroupMessageSend += CQPImplementation_OnGroupMessageSend;

        CurrentBreakPointChanged(Shared.CurrentBreakPoint);
        Shared.CurrentBreakPointChanged += CurrentBreakPointChanged;
    }

    public void Dispose()
    {
        PluginManagerProxy.OnGroupBan -= PluginManagerProxy_OnGroupBan;
        PluginManagerProxy.OnGroupAdded -= PluginManagerProxy_OnGroupAdded;
        PluginManagerProxy.OnGroupMsg -= PluginManagerProxy_OnGroupMsg;
        PluginManagerProxy.OnGroupLeft -= PluginManagerProxy_OnGroupLeft;
        PluginManagerProxy.OnFriendAdded -= PluginManagerProxy_OnFriendAdded;
        PluginManagerProxy.OnPrivateMsg -= PluginManagerProxy_OnPrivateMsg;
        PluginManagerProxy.OnGroupMsgRecall -= PluginManagerProxy_OnGroupMsgRecall;
        PluginManagerProxy.OnPrivateMsgRecall -= PluginManagerProxy_OnPrivateMsgRecall;

        CQPImplementation.OnPrivateMessageSend -= CQPImplementation_OnPrivateMessageSend;
        CQPImplementation.OnGroupMessageSend -= CQPImplementation_OnGroupMessageSend;

        Shared.CurrentBreakPointChanged -= CurrentBreakPointChanged;
    }

    private void CurrentBreakPointChanged(Breakpoint breakpoint)
    {
        ShowHistoryDrawer = breakpoint switch
        {
            Breakpoint.Lg => false,
            Breakpoint.Xl => false,
            Breakpoint.Md => false,
            _ => true
        };
        HistoryDrawerOpen = false;
        StateHasChanged();
    }

    private async Task LoadChatHistory()
    {
        var histories = ChatHistoryHelper.GetHistoryCategories().OrderByDescending(x => x.Time);
        HistoryItems = [];
        foreach (var item in histories)
        {
            var history = new ChatHistoryItem
            {
                AvatarType = item.Type == ChatHistoryType.Private ? AvatarTypes.QQPrivate : AvatarTypes.QQGroup,
                Detail = item.Message,
                Name = item.Type == ChatHistoryType.Private ? await ChatHistoryHelper.GetFriendNick(item.ParentID) : await ChatHistoryHelper.GetGroupName(item.ParentID),
                Id = item.ParentID,
                Time = item.Time,
                UnreadCount = 0,
            };
            if (Shared.SelectChatHistoryId == history.Id)
            {
                await SelectedHistoryItemChanged(history);
            }
            HistoryItems.Add(history);
        }
    }

    private async Task ShinkerClicked()
    {
        await JS.InvokeVoidAsync("toggleContainerLength");
    }

    private async Task SelectedHistoryItemChanged(ChatHistoryItem historyItem)
    {
        await Task.Run(() =>
        {
            MessageUnavailable = true;
            CurrentPageIndex = 1;
            SelectedHistoryItem = historyItem;
            SelectedHistoryItem.UnreadCount = 0;
            Shared.SelectChatHistoryId = historyItem.Id;
            var histories = ChatHistoryHelper.GetHistoriesByPage(historyItem.Id
                , historyItem.AvatarType == AvatarTypes.QQPrivate ? ChatHistoryType.Private : ChatHistoryType.Group
                , PageSize, CurrentPageIndex);
            Messages = [];
            foreach (var item in histories)
            {
                var i = ParseChatHistoryToChatItemModel(item);
                if (i != null)
                {
                    Messages.Add(i);
                }
            }
        });
        HistoryDrawerOpen = false;
        StateHasChanged();
        if (ChatMessageDisplay != null)
        {
            await ChatMessageDisplay.OnItemsChange();
        }
        MessageUnavailable = false;
    }

    private ChatItemModel? ParseChatHistoryToChatItemModel(ChatHistory item, bool sending = false)
    {
        if (item == null)
        {
            return null;
        }
        var r = new ChatItemModel
        {
            Avatar = new AvatarModel
            {
                AvatarType = AvatarTypes.QQPrivate,
                Id = item.SenderID,
                FallbackName = item.SenderID.ToString(),
                IsRound = true
            },
            Id = item.SenderID,
            Message = item.Message,
            MsgId = item.MsgId,
            ParentId = item.ParentID,
            Time = item.Time,
            Recalled = item.Recalled,
            ParentType = item.Type == ChatHistoryType.Group ? AvatarTypes.QQGroup : AvatarTypes.QQPrivate,
            DisplayName = item.SenderID.ToString(),
            Sending = sending,
            HistoryId = item.ID,
            PluginName = item.PluginName
        };
        r.DetailItemType = item.Type switch
        {
            ChatHistoryType.Notice => DetailItemType.Notice,
            _ => AppConfig.Instance.CurrentQQ == item.SenderID ? DetailItemType.Send : DetailItemType.Receive,
        };
        return r;
    }

    public async Task LoadMessageHistoryNextPage()
    {
        int updateCount = 0;
        if (SelectedHistoryItem == null)
        {
            return;
        }
        await Task.Run(() =>
        {
            CurrentPageIndex++;
            var messages = ChatHistoryHelper.GetHistoriesByPage(CurrentSelectedId
                , SelectedHistoryItem.AvatarType == AvatarTypes.QQPrivate ? ChatHistoryType.Private : ChatHistoryType.Group
                , PageSize, CurrentPageIndex);
            updateCount = messages.Count;
            for (int i = 0; i < messages.Count; i++)
            {
                var item = ParseChatHistoryToChatItemModel(messages[i]);
                if (item != null)
                {
                    Messages.Insert(i, item);
                }
            }
        });
        StateHasChanged();
        if (ChatMessageDisplay != null)
        {
            await ChatMessageDisplay.ReloadFinish(updateCount > 0);
        }
    }

    /// <summary>
    /// 消息持久化 若消息刚好为当前群则向容器构建消息并滚动至底
    /// </summary>
    /// <param name="id">群号</param>
    /// <param name="qq">发送者ID</param>
    /// <param name="msg">消息</param>
    /// <param name="itemType">消息位置</param>
    /// <param name="msgId">消息ID</param>
    /// <param name="plugin">发送来源插件</param>
    /// <returns>消息持久化的ID</returns>
    private ChatItemModel? AddChatItem(long id, long qq, string msg, ChatHistoryType type, DateTime time, bool sending = false, int msgId = 0, CQPluginProxy? plugin = null)
    {
        var history = ChatHistoryHelper.GetHistoriesByMsgId(id, msgId, type);
        ChatItemModel? chatItem = ParseChatHistoryToChatItemModel(history, sending);
        if (CurrentSelectedId == id && chatItem != null)
        {
            Messages.Add(chatItem);
        }
        AddOrUpdateChatList(history);
        return chatItem;
    }

    private async Task<string> GetGroupCardOrNick(long id, long qq, ChatHistoryType type)
    {
        return type switch
        {
            ChatHistoryType.Group => await ChatHistoryHelper.GetGroupMemberNick(id, qq),
            ChatHistoryType.Private => await ChatHistoryHelper.GetFriendNick(qq),
            _ => qq.ToString()
        };
    }

    private async Task<string> GetGroupOrFriendName(long qq, ChatHistoryType type)
    {
        return type switch
        {
            ChatHistoryType.Group => await ChatHistoryHelper.GetGroupName(qq),
            ChatHistoryType.Private => await ChatHistoryHelper.GetFriendNick(qq),
            _ => qq.ToString()
        };
    }

    /// <summary>
    /// 添加或更新左侧聊天列表好友内容
    /// </summary>
    /// <param name="qq">好友ID</param>
    /// <param name="sender">发送者ID</param>
    /// <param name="msg">消息</param>
    private async void AddOrUpdateChatList(ChatHistory history)
    {
        string msg = $"{await GetGroupCardOrNick(history.ParentID, history.SenderID, history.Type)}: {history.Message}";
        msg = msg.Replace("\r", "").Replace("\n", "");
        var item = HistoryItems.FirstOrDefault(x => x.Id == history.ParentID);
        if (item != null) // 消息已存在, 更新
        {
            item.Detail = msg;
            item.Time = DateTime.Now;
            item.UnreadCount++;
        }
        else
        {
            HistoryItems.Add(new()
            {
                AvatarType = history.Type == ChatHistoryType.Private ? AvatarTypes.QQPrivate : AvatarTypes.QQGroup,
                Detail = msg,
                Name = await GetGroupOrFriendName(history.ParentID, history.Type),
                Id = history.ParentID,
                Time = history.Time,
                UnreadCount = 0,
            });
        }
        await ReorderHistory();
    }

    private async Task ReorderHistory()
    {
        HistoryItems = HistoryItems.OrderByDescending(x => x.Time).ToList();
        if (SelectedHistoryItem != null)
        {
            SelectedHistoryItem.UnreadCount = 0;
            await InvokeAsync(() => StateHasChanged());
            if (ChatMessageDisplay != null)
            {
                await ChatMessageDisplay.ScrollToBottom();
            }
            return;
        }
        else
        {
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private void PluginManagerProxy_OnFriendAdded(long qq)
    {
        // 额外实现
    }

    private async void PluginManagerProxy_OnGroupAdded(long group, long qq)
    {
        if (ChatHistoryHelper.GroupMemberCache.TryGetValue(group, out var dict) && dict.ContainsKey(qq))
        {
            AddChatItem(group, qq, $"{await ChatHistoryHelper.GetGroupMemberNick(group, qq)} 加入了本群", ChatHistoryType.Notice, DateTime.Now);
        }
    }

    private async void PluginManagerProxy_OnGroupBan(long group, long qq, long operatedQQ, long time)
    {
        if (ChatHistoryHelper.GroupMemberCache.TryGetValue(group, out var dict) && dict.ContainsKey(qq))
        {
            AddChatItem(group, qq, $"{await ChatHistoryHelper.GetGroupMemberNick(group, qq)} 禁言了 {await ChatHistoryHelper.GetGroupMemberNick(group, operatedQQ)} {time}秒", ChatHistoryType.Notice, DateTime.Now);
        }
    }

    private async void PluginManagerProxy_OnGroupLeft(long group, long qq)
    {
        if (ChatHistoryHelper.GroupMemberCache.TryGetValue(group, out var dict) && dict.ContainsKey(qq))
        {
            dict.Remove(qq);
            AddChatItem(group, AppConfig.Instance.CurrentQQ, $"{await ChatHistoryHelper.GetGroupMemberNick(group, qq)} 离开了群", ChatHistoryType.Notice, DateTime.Now);
        }
        else
        {
            AddChatItem(group, AppConfig.Instance.CurrentQQ, $"{qq} 离开了群", ChatHistoryType.Notice, DateTime.Now);
        }
    }

    private void PluginManagerProxy_OnGroupMsg(int msgId, long group, long qq, string msg, DateTime time)
    {
        AddChatItem(group, qq, msg, ChatHistoryType.Group, time, msgId: msgId);
    }

    private void PluginManagerProxy_OnGroupMsgRecall(int msgId, long groupId, string msg)
    {
        var item = Messages.FirstOrDefault(x => x.MsgId == msgId);
        if (item != null)
        {
            item.Recalled = true;
        }
    }

    private void PluginManagerProxy_OnPrivateMsg(int msgId, long qq, string msg, DateTime time)
    {
        AddChatItem(qq, qq, msg, ChatHistoryType.Private, time, msgId: msgId);
    }

    private void PluginManagerProxy_OnPrivateMsgRecall(int msgId, long qq, string msg)
    {
        var item = Messages.FirstOrDefault(x => x.MsgId == msgId);
        if (item != null)
        {
            item.Recalled = true;
        }
    }

    /// <summary>
    /// CQP事件_群消息发送
    /// </summary>
    private void CQPImplementation_OnGroupMessageSend(int msgId, long group, string msg, CQPluginProxy plugin)
    {
        AddChatItem(group, AppConfig.Instance.CurrentQQ, msg, ChatHistoryType.Group, DateTime.Now, msgId: msgId, plugin: plugin);
    }

    private void CQPImplementation_OnPrivateMessageSend(int msgId, long qq, string msg, CQPluginProxy plugin)
    {
        AddChatItem(qq, AppConfig.Instance.CurrentQQ, msg, ChatHistoryType.Private, DateTime.Now, msgId: msgId, plugin: plugin);
    }

    private async Task OnMessageSend(string msg)
    {
        if (SelectedHistoryItem == null)
        {
            return;
        }

        var type = SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup ? ChatHistoryType.Group : ChatHistoryType.Private;
        var history = new ChatHistory
        {
            Message = msg,
            ParentID = SelectedHistoryItem.Id,
            SenderID = AppConfig.Instance.CurrentQQ,
            Type = type,
            MsgId = 0,
            PluginName = "",
            Time = DateTime.Now,
        };
        history.ID = ChatHistoryHelper.InsertHistory(history);
        ChatHistoryHelper.UpdateHistoryCategory(history);
        var item = AddChatItem(SelectedHistoryItem.Id, AppConfig.Instance.CurrentQQ, msg, type, DateTime.Now, true);
        if (item == null)
        {
            return;
        }
        DelayScrollToBottom(50);
        DelayClearSendText(50);
        var msgId = await CallMessageSend(SelectedHistoryItem.Id, msg, SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup);
        MessageCommandPanel.Sending = false;
        await MessageCommandPanel.ClearSendText();
        item.Sending = false;
        item.MsgId = msgId;
        item.HistoryId = history.ID;
        ChatHistoryHelper.UpdateHistoryMessageId(SelectedHistoryItem.Id
            , SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup ? ChatHistoryType.Group : ChatHistoryType.Private
            , item.HistoryId
            , msgId);
        StateHasChanged();
    }

    private void DelayScrollToBottom(int delay)
    {
        Task.Run(async () =>
        {
            await Task.Delay(delay);
            await InvokeAsync(() => StateHasChanged());
            if (ChatMessageDisplay != null)
            {
                await ChatMessageDisplay.ScrollToBottom();
            }
        });
    }

    private void DelayClearSendText(int delay)
    {
        Task.Run(async () =>
        {
            await Task.Delay(delay);
            await InvokeAsync(() => MessageCommandPanel.ClearSendText());
        });
    }

    public async Task<int> CallMessageSend(long id, string message, bool group)
    {
        Stopwatch sw = Stopwatch.StartNew();
        int logId = 0;
        int msgId = 0;
        await Task.Run(() =>
        {
            if (group)
            {
                logId = LogHelper.WriteLog(LogLevel.InfoSend, "[↑]发送群组消息", $"群:{id} 消息:{message}", "处理中...");
                msgId = ProtocolManager.Instance.CurrentProtocol.SendGroupMessage(id, message);
            }
            else
            {
                logId = LogHelper.WriteLog(LogLevel.InfoSend, "[↑]发送私聊消息", $"QQ:{id} 消息:{message}", "处理中...");
                msgId = ProtocolManager.Instance.CurrentProtocol.SendPrivateMessage(id, message);
            }
        });
        sw.Stop();
        LogHelper.UpdateLogStatus(logId, $"√ {sw.ElapsedMilliseconds / 1000.0:f2} s");
        return msgId;
    }

    private async Task OnChatItemAt(ChatItemModel chatItem)
    {
        await MessageCommandPanel.AppendText($" [CQ:at,qq={chatItem.Id}]");
    }

    private async Task OnChatItemReply(ChatItemModel chatItem)
    {
        await MessageCommandPanel.AppendText($" [CQ:reply,id={chatItem.MsgId}]");
    }

    private async Task OnChatItemCopy(ChatItemModel chatItem)
    {
        await JS.InvokeVoidAsync("copyTextToClipboard", chatItem.Message);
        Snackbar.Add("复制成功", Severity.Success);
    }

    private async Task OnChatItemRepeat(ChatItemModel chatItem)
    {
        await OnMessageSend(chatItem.Message);
    }

    private async Task OnChatItemResend(ChatItemModel chatItem)
    {
        if (SelectedHistoryItem == null)
        {
            return;
        }

        var msgId = await CallMessageSend(SelectedHistoryItem.Id, chatItem.Message, SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup);
        chatItem.Sending = false;
        await MessageCommandPanel.ClearSendText();
        chatItem.MsgId = msgId;
        ChatHistoryHelper.UpdateHistoryMessageId(SelectedHistoryItem.Id
            , SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup ? ChatHistoryType.Group : ChatHistoryType.Private
            , chatItem.HistoryId
            , msgId);
        StateHasChanged();
    }

    private async Task OnAtElementClicked(long id)
    {
        await MessageCommandPanel.AppendText($" [CQ:at,qq={id}]");
    }

    private async Task OnReplyJumpReuquest(int id)
    {
        if (SelectedHistoryItem == null)
        {
            return;
        }

        var history = ChatHistoryHelper.GetHistoriesByMsgId(SelectedHistoryItem.Id, id, SelectedHistoryItem.AvatarType == AvatarTypes.QQGroup ? ChatHistoryType.Group : ChatHistoryType.Private);
        if (history == null) // 查询失败
        {
            return;
        }
        var item = Messages.FirstOrDefault(x => x.MsgId == id);
        if (item != null)
        {
            // 当前列表存在此消息，直接跳转
            if (ChatMessageDisplay != null)
            {
                await ChatMessageDisplay.ScrollToItem(item.HistoryId);
            }
        }
        else
        {
            // 不存在消息，从历史记录加载所需
            int lastId = Messages.First().HistoryId;
            int count = lastId - history.ID;
            Unavailable = true;
            do
            {
                await LoadMessageHistoryNextPage();
                item = Messages.FirstOrDefault(x => x.MsgId == id);
            } while (item == null);
            Unavailable = false;
            if (ChatMessageDisplay != null)
            {
                await Task.Delay(50);
                await ChatMessageDisplay.ScrollToItem(item.HistoryId);
            }
        }
    }

    private async Task OnCopyNick(ChatItemModel item)
    {
        await JS.InvokeVoidAsync("copyTextToClipboard", item.DisplayName);
        Snackbar.Add("复制成功", Severity.Success);
    }

    private async Task OnCopyQQ(ChatItemModel item)
    {
        await JS.InvokeVoidAsync("copyTextToClipboard", item.Id);
        Snackbar.Add("复制成功", Severity.Success);
    }

    private async Task OnRevoke(ChatItemModel item)
    {
        bool success = false;
        await Task.Run(() =>
        {
            success = ProtocolManager.Instance.CurrentProtocol.DeleteMsg(item.MsgId) == 1;
        });
        if (success)
        {
            item.Recalled = true;
            ChatHistoryHelper.UpdateHistoryRecall(item.ParentId, item.MsgId, item.ParentType == AvatarTypes.QQGroup ? ChatHistoryType.Group : ChatHistoryType.Private, true);
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("消息撤回失败", Severity.Error);
        }
    }

    private async Task OnImagePreview(RenderChatItem item)
    {
        if (item.RenderType != RenderType.Image)
        {
            return;
        }

        await DialogService.ShowAsync<ImagePreviewer>("图片预览", new DialogParameters<ImagePreviewer> { { x => x.Item, item } }, new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Medium });
    }
}
